In [1]:
%load_ext autoreload
%autoreload 1

In [25]:
import numpy as np
import pandas as pd
import re
import os
import matplotlib.pyplot as plt
import seaborn as sns


from src.data.get_historical_tweets import *
from src.data.yahoo_finance_historical import *
from src.features.tweet_feature_cleaner import *

In [3]:
# feature processing
import time
import calendar

In [4]:
DJT_df = get_all_tweets("realDonaldTrump", use_pandas=True)

getting tweets before 1127522225224146948
...400 tweets downloaded so far
getting tweets before 1124672389416144904
...598 tweets downloaded so far
getting tweets before 1121095181690974207
...798 tweets downloaded so far
getting tweets before 1116699102438461441
...998 tweets downloaded so far
getting tweets before 1110242521400123393
...1198 tweets downloaded so far
getting tweets before 1104714098724519935
...1398 tweets downloaded so far
getting tweets before 1098948459405721599
...1598 tweets downloaded so far
getting tweets before 1090459824196907007
...1798 tweets downloaded so far
getting tweets before 1084644517238714368
...1998 tweets downloaded so far
getting tweets before 1076844349860823041
...2198 tweets downloaded so far
getting tweets before 1069613383622803455
...2397 tweets downloaded so far
getting tweets before 1060949297900834815
...2597 tweets downloaded so far
getting tweets before 1056181643810168831
...2796 tweets downloaded so far
getting tweets before 1050436733039534079
...2994 tweets downloaded so far
getting tweets before 1042988257166819328
...3190 tweets downloaded so far
getting tweets before 1038534611880603649
...3190 tweets downloaded so far

In [5]:
DJT_df.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,...,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,truncated,user
0,None,None,Wed May 22 20:46:35 +0000 2019,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,32218,False,None,1131300345928441857,1131300345928441857,...,NaN,NaN,NaN,8878,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",I want to welcome you all to the @WhiteHouse a...,True,"{'id': 25073877, 'id_str': '25073877', 'name':..."
1,None,None,Wed May 22 17:02:23 +0000 2019,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,60113,False,None,1131243922188054529,1131243922188054529,...,NaN,NaN,NaN,14584,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",....Democrat leadership is tearing the United ...,True,"{'id': 25073877, 'id_str': '25073877', 'name':..."
2,None,None,Wed May 22 17:01:22 +0000 2019,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,54773,False,None,1131243666968911875,1131243666968911875,...,NaN,NaN,NaN,11891,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...","....In the meantime, my Administration is achi...",True,"{'id': 25073877, 'id_str': '25073877', 'name':..."
3,None,None,Wed May 22 17:01:22 +0000 2019,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,19012,False,None,1131243665685397506,1131243665685397506,...,NaN,NaN,NaN,5963,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",....But they really want a do-over! You can’t ...,True,"{'id': 25073877, 'id_str': '25073877', 'name':..."
4,None,None,Wed May 22 17:01:21 +0000 2019,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,77492,False,None,1131243663948959745,1131243663948959745,...,NaN,NaN,NaN,19544,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",So sad that Nancy Pelosi and Chuck Schumer wil...,True,"{'id': 25073877, 'id_str': '25073877', 'name':..."

In [6]:
DJT_df.shape

(3190, 29)

In [7]:
DJT_df.created_at.values[-1]

'Sat Sep 08 21:08:41 +0000 2018'

In [8]:
DJT_df['timestamp'] = DJT_df['created_at'].apply(tweet_to_timestamp)

In [27]:
# seconds since the epoch
DJT_df['timestamp'].astype(float).apply(np.datetime64)

ValueError: Could not convert object to NumPy datetime

In [10]:
time.time() - 1558557995

11278.198529958725

In [11]:
test_time()

1558569273.204567

In [12]:
SPY =  getSymbolData("SPY")

('SPY', 'Got 4877 days of data')

In [17]:
SPY.index.values[0]

numpy.datetime64('2000-01-03T00:00:00.000000000')

In [26]:
np.__version__

'1.14.2'

AttributeError: module 'datetime' has no attribute 'utcnow'